<?php

$mail = [];
$mail["config"] = 
[
		'fromEmail' => 'fromemail',
		'fromName' => 'Error Handler',
		'SMTP' => [
				'enabled' => true,
				'config' => [
						'name' => 'name',
						'host' => 'host',
						'port' => 1025,
						'connection_class' => 'login',
						'connection_config' => [
								'username' => 'username',
								'password' => 'password',
								'ssl' => 'tls'
						]
				]
		],
		'toEmails' => [
				"example@example.com",
		]
];

return $mail;

